# Django Settings
DEBUG=True (False for production)
SECRET_KEY=your-secret-key-here

# Database Settings
DATABASE_NAME=object_db
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432

# CORS Settings
LOCAL_FE=http://localhost:3000
PROD_FE=https://your-production-frontend.com

# Cloudinary Settings
CC_NAME=your-cloudinary-name
CC_API_KEY=your-cloudinary-api-key
CC_API_SECRET=your-cloudinary-api-secret

# Lets_encrypt Settings (optional)
DOMAIN=your-domain
WWW_DOMAIN=your-domain-www
EMAIL_DOMAIN=your-email